<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{modifyTitle}"></title>
</head>
<body>
<form method="post" action="/student/modify">
    <table>
        <tr>
            <th colspan="2" th:text="#{modifyTitle}"></th>
        </tr>
        <tr>
            <td th:text="#{studentID}"></td>
            <td><input type="text" name="id" th:value="${student.id}"/></td>
        </tr>
        <tr>
            <td th:text="#{studentPW}"></td>
            <td><input type="password" name="password" th:value="${student.password}"/></td>
        </tr>
        <tr>
            <td th:text="#{studentName}"></td>
            <td><input type="text" name="name" th:value="${student.name}"/></td>
        </tr>
        <tr>
            <td th:text="#{studentEmail}"></td>
            <td><input type="text" name="email" th:value="${student.email}"/></td>
        </tr>
        <tr>
            <td th:text="#{studentScore}"></td>
            <td><input type="text" name="score" th:value="${student.score}"/></td>
        </tr>
        <tr>
            <td th:text="#{studentEvaluation}"></td>
            <td><textarea name="evaluation" rows="10" cols="80" th:utext="${student.evaluation}"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" style="width: 100%" th:value="#{modifyButton}"/></td>
        </tr>
    </table>
</form>
</body>
</html>