<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>답변 작성</title>
    <link rel="stylesheet" href="/static/formStyle.css">


    <script>
        function submitForm(action) {
            if (action === 'submit') {
                document.getElementById('AnswerAddForm').submit();
            } else if (action === 'cancel') {
                window.location.href = "/cs/admin";
            }
        }
    </script>
</head>
<body>
<h2 style="text-align:center;">답변 작성</h2>
<form id="AnswerAddForm" method="post" action="/cs/admin/answer">
    <table>
        <tr>
            <th><label for="inquiryId">번호</label></th>
            <td id="inquiryId" th:text="${inquiry.id}"></td>
            <td><input type="hidden" name="id" th:value="${inquiry.id}"></td>
        </tr>
        <tr>
            <th><label for="createdAt">작성일시</label></th>
            <td id="createdAt" th:text="${inquiry.createdAt}"></td>
        </tr>
        <tr>
            <th><label for="category">분류</label></th>
            <td id="category" th:text="${inquiry.category}"></td>
        </tr>
        <tr>
            <th><label for="title">제목</label></th>
            <td id="title" th:text="${inquiry.title}"></td>
        </tr>
        <tr>
            <th><label for="content">내용</label></th>
            <td><textarea id="content" rows="10" cols="80" th:utext="${inquiry.content}" readonly></textarea></td>
        </tr>
        <tr>
            <th><label for="filePaths">첨부 파일</label></th>
            <td id="filePaths">
                <ul>
                    <li th:each="filePath : ${inquiry.filePaths}">
                        <a th:href="${filePath}" th:text="${filePath}" target="_blank"></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th><label for="answer">답변</label></th>
            <td><textarea id="answer" name="answerContent" rows="10" cols="80" th:value="${inquiry.answerContent}"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input type="button" value="확인" onclick="submitForm('submit')">
                <input type="button" value="취소" onclick="submitForm('cancel')">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
